/*  reformatação do html  */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Raleway:wght@100;200;300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* conteudo do cabeçalho  */
.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.header span {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.header span img {
  width: 30px;
}
.header span h1 {
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.header nav {
  font-family: 'Raleway', sans-serif;
  list-style-type: none;
  display: flex;
  gap: 10px;
}
.header nav a {
  text-decoration: none;
  color: black;
  font-family: 'Cormorant Garamond', serif;
}
.main{
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  padding: auto;
  align-items: flex-start;
  justify-content: center;

}
.main h1{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin: 20px;
}
.paragrafo{
  font-weight: 200;
  font-size: 14px;
  margin: 10px;
}
.noticia{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.noticia .data-dia{
  font-size: 40px;
  color: #00e1ff;
}

.noticia .data-mes{
  font-size: 20px;
}
.direita{
  margin-left: 15px;
  border-bottom: 1px black solid;
}
.direita button{
  float: right;
  border: none;
  color: #00e1ff;
  background-color: white;
  font-weight: 800;
}

